.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  margin-top: 200px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4c4cff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
