.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.image {
  width: 120px;
  height: 120px;
}

.glowing-text {
  color: #f2f2f3;
  text-shadow: 
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 12px #ffcc00,
    0 0 16px #ffcc00,
    0 0 20px #ffcc00;
}