.wrapper {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 70vh;
  overflow-y: auto;
}

.orderList::-webkit-scrollbar {
  width: 8px;
}

.orderList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 4px;
}

.orderList::-webkit-scrollbar-track {
  background: transparent;
}

.orderCard {
  display: flex;
  flex-direction: column;
  background-color: #1c1c21;
  padding: 16px;
  border-radius: 40px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.orderCard:hover {
  transform: scale(1.02);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.orderName {
  margin-bottom: 8px;
}

.done {
  color: #00cc66;
}

.pending {
  color: #f2aa00;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.ingredients {
  display: flex;
}

.ingredient {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #fff;
  margin-left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.ingredient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price {
  display: flex;
  align-items: center;
  font-size: 20px;
}
