.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 220px;
}

.link {
  color: #8585ad;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.linkActive {
  text-decoration: none;
  color: #f2f2f3;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 480px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.logoutButton {
  text-align: left;
  padding-left: 0; 
  color: #8585ad;
}