.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131316;
  min-height: 100vh;
  color: #f2f2f3;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 1240px;
}

a, a.text_color_accent {
  text-decoration: none !important;
}
