.wrapper {
  margin: 0 auto;
  display: flex;
  gap: 60px;
  padding: 40px 0;
}

.left {
  flex: 1;           
  max-width: 50%;  
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.right {
  flex: 1;           
  max-width: 50%; 
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.statusColumns {
  display: flex;
  gap: 20px;
}

.statusColumn {
  flex: 1;
  border-radius: 8px;
  padding: 10px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.orderNumbers {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 200px; 
  overflow-y: auto;
}

.statFull {
  border-radius: 8px;
  padding: 10px;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardFooter {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  box-sizing: border-box; 
  margin-top: 20px;
}

.price {
  display: flex;
}
