.wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.number {
  text-align: center;
}

.done {
  color: #00cc66;
}

.pending {
  color: #f2aa00;
}

.composition {
  margin-top: 40px;
}

.scroll {
  max-height: 256px; 
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 4px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredient img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.price {
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
}
