.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}
