.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px); 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  gap: 24px;
  padding: 40px;
  border-radius: 16px;
}

.center {
  text-align: center;
}

.textRow {
  display: flex;
  justify-content: center;
  gap: 8px;
}
