.orderCard {
  border-radius: 40px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  background-color: rgba(193, 193, 193, 0.084);
  transition: transform 0.2s;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.orderName {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.done {
  color: #00ccc9;
}

.pending {
  color: #f2aa00;
}

.ingredients {
  margin-top: 25px;
  display: flex;
  position: relative;
}

.ingredient {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, #801ab2, #4c4cff);
  padding: 2px;
  margin-left: -12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredient:first-child {
  margin-left: 0;
}

.ingredient img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #131316;
  object-fit: cover;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 20px;
}
